<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .target{background-color: red;}
        </style>
    </head>
    <body>
        <h1 th:text="${'ex2'}"></h1><hr>
        <a th:href="@{../}">HOME</a>
        <hr>
        <ul>
            <!--/* <li th:each="dto : ${list}">
                [[${dto}]]
            </li> */-->
            <!--/* <li th:each="dto,idx : ${list}">
                [[${idx.index}]]----[[${dto}]]
            </li> */-->
            <!--/* <li th:each="dto,state: ${list}">
                <span th:if="${dto.sno%5==0}" th:text="${dto.sno}"></span>
                <span th:unless="${dto.sno%5==0}" th:text="${dto.first}"></span> 
            </li>*/-->
            <!--/* <li th:each="dto,state:${list}" 
            th:text="${dto.sno%5==0}?${dto.sno}:${dto.first}"
            th:class="${dto.sno%5==0}?'target'"></li> */-->
            
            <th:block th:each="dto : ${list}">
                <li th:text="${dto.sno%5==0}?${dto.sno}:${dto.first}"></li>
            </th:block>
        
        </ul>
    </body>
</html>