<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>스프링 보안</h1>
    <hr>
    <a th:href="@{/sample/all}">/sample/all</a><br>
    <a th:href="@{/sample/admin}">/sample/admin</a><br>
    <a th:href="@{/sample/member}">/sample/member</a><br>
    <a th:href="@{/member/login}">/member/login</a><br>
</body>
</html>