<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{::content})}">
  <th:block th:fragment="content">
    <h1>GuestBook Modify Page</h1>
    <form id="frm" th:action="@{/guestbook/modify}" th:method="post">
      <div class="form-group">
        <label>Gno</label>
        <input type="text" class="form-control" name="gno"
          th:value="${dto.gno}" readonly />
          <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
          <input type="hidden" name="type" th:value="${pageRequestDTO.type}">
          <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}">
        </div>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title"
        th:value="${dto.title}" />
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" rows="5" 
              name="content">[[${dto.content}]]</textarea>
      </div>
      <div class="form-group">
        <label>Writer</label>
        <input type="text" class="form-control" name="writer"
        th:value="${dto.writer}" readonly/>
      </div>
      <div class="form-group">
        <label>RegDate</label>
        <input type="text" class="form-control" readonly th:value=
        "${#temporals.format(dto.regDate,'yyyy/MM/dd HH:mm:ss')}"/>
      </div>
      <div class="form-group">
        <label>ModDate</label>
        <input type="text" class="form-control" readonly th:value=
        "${#temporals.format(dto.modDate,'yyyy/MM/dd HH:mm:ss')}"/>
      </div>
        <button type="button" class="btn btn-primary modifyBtn">Modify</button>
        <button type="button" class="btn btn-info listBtn">List</button>
        <button type="button" class="btn btn-danger removeBtn">Remove</button>
    </form>
    <script th:inline="javascript">
      var actionForm = document.querySelector("#frm");
      var removeBtn = document.querySelector(".removeBtn");
      removeBtn.onclick = function() {
        /*[+ var urlremove = [[@{/guestbook/remove}]]; +]*/
        actionForm.setAttribute("action", urlremove);
        actionForm.setAttribute("method", "post");
        actionForm.submit();
      }
      var modifyBtn = document.querySelector(".modifyBtn");
      modifyBtn.onclick = function() {
        var retVal = confirm("수정하시겠습니까?");
        if(retVal){
          /*[+ var urlremove = [[@{/guestbook/modify}]]; +]*/
          actionForm.setAttribute("action", urlremove);
          actionForm.setAttribute("method", "post");
          actionForm.submit();
        }
      }
      var listBtn = document.querySelector(".listBtn");
      listBtn.onclick = function() {
        /*[+ var urllist = 
            [[@{/guestbook/list(page=${pageRequestDTO.page},
                    type=${pageRequestDTO.type},
                    keyword=${pageRequestDTO.keyword})}]]; +]*/
        location.href = urllist;
      }

    </script>
  </th:block>
</th:block>