<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{::content})}">
  <th:block th:fragment="content">
    <h1>Movie Modify Page</h1>
    <form id="frm" th:action="@{/movie/modify}" th:method="post">
      <div class="form-group">
        <label>Mno</label>
        <input type="text" class="form-control" name="mno"
          th:value="${dto.mno}" readonly />
          <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
          <input type="hidden" name="type" th:value="${pageRequestDTO.type}">
          <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}">
        </div>
      <div class="form-group">
        <label>타이틀</label>
        <input type="text" class="form-control" name="title"
          th:value="${dto.title}" />
      </div>
      <div class="form-group">
        <label>평가수</label>
        <input type="text" class="form-control"
        th:value="${dto.reviewCnt}" readonly/>
      </div>
      <div class="form-group">
        <label>평균</label>
        <input type="text" class="form-control"
        th:value="${dto.avg}" readonly/>
      </div>
      <div class="form-group">
        <label>등록일</label>
        <input type="text" class="form-control" readonly 
         th:value="${#temporals.format(dto.regDate,'yyyy/MM/dd HH:mm:ss')}"/>
      </div>
      <div class="form-group">
        <label>수정일</label>
        <input type="text" class="form-control" readonly 
          th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd HH:mm:ss')}"/>
      </div>
      
      <div class="form-group fileForm">
        <label>이미지 넣기</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input files form-control" id="fileInput" multiple>
          <label class="custom-file-label" data-browse="Browse"></label>
        </div>
      </div>
      <div class="box">
      
      </div>


        <button type="button" class="btn btn-primary modifyBtn">Modify</button>
        <button type="button" class="btn btn-info listBtn">List</button>
        <button type="button" class="btn btn-danger removeBtn">Remove</button>
    
    
    
      </form>

    <style>
      .uploadResult {
          width: 100%;
          background: gray;
          margin-top: 10px;
      }

      .uploadResult ul {
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center;
          vertical-align: top;
          overflow: auto;
      }

      .uploadResult ul li {
          list-style: none;
          padding: 10px;
          margin-left: 2em;
      }

      .uploadResult ul li img {
          width: 100px;
      }

      .uploadResult ul li :hover {
          cursor: pointer;
      }
  </style>

  <div class="uploadResult">
      <ul th:if="${dto.imageDTOList.size()!=0}">
          <li th:each="movieImage : ${dto.imageDTOList}" 
            th:data-file="${movieImage.getThumbnailURL}">
            <button type='button' th:data-file='${movieImage.getImageURL}' class='btn-warning btn-sm'>X</button><br>
              <img th:if="${movieImage.path != null}"
                  th:src="|@{'/display'}?fileName=${movieImage.getThumbnailURL()}|">
          </li>
      </ul>
  </div>

    <script th:inline="javascript">


      //  upload url 선언 및 초기화
        /*[+
          var urlUpload = [[@{/uploadAjax/}]];
        +]*/

        var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff|txt)$");
        var maxSize = 10485760;
    
        function checkExtension(fileName, fileSize) {
          if (fileSize >= maxSize) {
            alert("파일사이즈 초과");
            return false;
          }
         
          if (regex.test(fileName.substring(fileName.lastIndexOf(".")))) {
            return false;
          }

          return true;
        }
    
        $(".custom-file-input").on("change", function () {

          var fileName = $(this).val().split("\\").pop();

          console.log("fileName >> "+fileName);
          console.log("확장자 인덱스 >> "+fileName.lastIndexOf("."));
          console.log("확장자 >> "+ fileName.substring(fileName.lastIndexOf(".")+1));
          
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
          
          var formData = new FormData();
          var inputFile = $(this);
          var files = inputFile[0].files; 
          var appended = false;
          
          for (let i = 0; i < files.length; i++) {
            if (!checkExtension(files[i].name, files[i].size)) {
              return false;
            }
            console.log(files[i]);
            formData.append("uploadFiles", files[i]);
          }


          if (!appended) { return; }
          
          for(var value of formData.values()) console.log("formData >> "+value);

          $.ajax({
            url: urlUpload, 
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            dataType: 'json',
            success: function (result) {
              console.log(result);
              showResult(result);
            },
            error: function (jqXHR, textStatus, errorThrown) { // 이 부분 잘 이해 안됐음
              console.log(textStatus);
            }
          });
        });

      var actionForm = document.querySelector("#frm");
      var removeBtn = document.querySelector(".removeBtn");

      removeBtn.onclick = function() {
        /*[+ var urlremove = [[@{/movie/remove}]]; +]*/
        actionForm.setAttribute("action", urlremove);
        actionForm.setAttribute("method", "post");
        actionForm.submit();
      }

      var modifyBtn = document.querySelector(".modifyBtn");
      modifyBtn.onclick = function() {
        var retVal = confirm("수정하시겠습니까?");

        if(retVal){
          /*[+ var url = [[@{/movie/modify}]]; +]*/
          actionForm.setAttribute("action", url);
          actionForm.setAttribute("method", "post");
          actionForm.submit();
        }
      }

      var listBtn = document.querySelector(".listBtn");
      listBtn.onclick = function() {
        /*[+ var urllist = 
            [[@{/movie/list(page=${pageRequestDTO.page},
              type=${pageRequestDTO.type},
              keyword=${pageRequestDTO.keyword})}]]; +]*/
        location.href = urllist;
      }

      // 사진 삭제
      // uploadResult 태그를 click 하는 경우에 li의 button에 이벤트를 적용하겠다라는 의미임
      $(".uploadResult ").on("click","li button",function(e){
          console.log("delete file...");
          var targetFile = $(this).data("file");
          var targetLi = $(this).closest("li");
          
          /*[+
            var urlRemove = [[@{/removeFile/}]];
          +]*/

          $.ajax({
            url: urlRemove,
            data: {
              fileName: targetFile
            },
            dataType: 'text',
            type: 'POST',
            success: function(result){
              alert(result?"Deleted!":"Error");
              targetLi.remove();
            }
          });

        });

    </script>
  </th:block>
</th:block>