<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{::content})}">
    <th:block th:fragment="content">
        <h1>무-비 읽기 화면</h1>
        <div class="form-group">
            <label>무비 남바</label>
            <input type="text" class="form-control" name="mno" th:value="${dto.mno}" readonly />
        </div>
        <div class="form-group">
            <label>따이뜰</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly />
        </div>
        <div class="form-group">
            <label>리뷰 개수</label>
            <input type="text" class="form-control" name="reviewCnt" th:value="${dto.reviewCnt}" readonly />
        </div>
        <div class="form-group">
            <label>중간값</label>
            <input type="text" class="form-control" name="avg" th:value="${dto.avg}" readonly />
        </div>
        <div class="form-group">
            <label>등록일</label>
            <input type="text" class="form-control" name="regDate"
                th:value="${#temporals.format(dto.regDate,'yyyy/MM/dd HH:mm:ss')}" readonly />
        </div>
        <div class="form-group">
            <label>수정일</label>
            <input type="text" class="form-control" name="modDate"
                th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd HH:mm:ss')}" readonly />
        </div>

        <style>
            .uploadResult {
                width: 100%;
                background: gray;
                margin-top: 10px;
            }

            .uploadResult ul {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                vertical-align: top;
                overflow: auto;
            }

            .uploadResult ul li {
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }

            .uploadResult ul li img {
                width: 100px;
            }

            .uploadResult ul li :hover {
                cursor: pointer;
            }
        </style>

        <div class="uploadResult">
            <ul th:if="${dto.imageDTOList.size()!=0}">
                <li th:each="movieImage : ${dto.imageDTOList}" th:data-file="${movieImage.getThumbnailURL}">
                    <img th:if="${movieImage.path != null}"
                        th:src="|@{'/display'}?fileName=${movieImage.getThumbnailURL()}|">
                </li>
            </ul>
        </div>

        <a
            th:href="@{/movie/modify(mno=${dto.mno}, page=${pageRequestDTO.page}, type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}">
            <button type="button" class="btn btn-primary">수 정</button>
        </a>
        <a
            th:href="@{/movie/list(page=${pageRequestDTO.page}, type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}">
            <button type="button" class="btn btn-info">돌아가기</button>
        </a>


        <div>
            <!-- Review button -->
            <div class="mt-4">
                <h5><span class="btn btn-info addReview">후기 등록</span></h5>
                <h5>
                    <span class="btn btn-warning reviewCount">후기 갯수 [[${dto.reviewCnt}]]</span>
                </h5>
            </div>

            <!-- reviewList style -->
            <style>
                .card-title {
                    cursor: pointer;
                }

                .card-subtitle {
                    display: inline-block;
                    width: 100px;
                }

                .card-text {
                    display: inline-block;
                    width: 200px;
                    text-align: right;
                }
            </style>

            <!-- review List view -->
            <div class="list-group reviewList"></div>

            <!-- modal 영역 -->
            <!-- review  modal -->
            <!-- review modal script -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script th:inline="javascript">
                $(document).ready(function () {
                    /*[+
                    var mno = [[${dto.mno}]];
                    var url = [[@{/reviews/movie/}]];
                    var urlDisplay =[[@{/display}]]
                    +]*/

                    var listGroup = $(".reviewList");
                    function formatTime(str) {
                        var date = new Date(str);
                        return date.getFullYear() + '/' +
                            (date.getMonth() + 1) + '/' +
                            date.getDate() + ' ' +
                            date.getHours() + ':' +
                            date.getMinutes();
                    }

                    $(".uploadResult li").click(function () {
                        // alert("hello world!");
                        var file = $(this).data('file');
                        $('#imageModal .modal-body').html(`<img style='width:100%' src='${urlDisplay}?fileName=${file}&size=1'>`)
                        imageModal.show();
                    });

                    // start 댓글 목록 불러오기
                    function getMovieReviews() {
                        // 비동기식 get 방식의 함수 호출
                        $.getJSON(url + mno + "/all", function (arr) {
                            console.log(arr);
                            var str = "";
                            $('.reviewCount').html("후기 : " + arr.length);
                            $.each(arr, function (idx, review) {
                                console.log(review);
                                str += `<div class="card-body form-control" data-reviewnum="${review.reviewnum}" data-grade="${review.grade}" data-mid="${review.mid}">`;
                                str += `<h5 class="card-title">${review.text}<h6 class="card-subtitle mb-2 text-muted gradeLength">grade ${review.grade}</h6></h5>`;
                                str += `<h6 class="card-subtitle mb-2 text-muted">${review.nickname}</h6>`;
                                str += `<p class="card-text">${formatTime(review.regDate)}</p></div>`;
                            });
                            listGroup.html(str);
                        }); // end : 댓글 추가부분


                        /*
                        str = `<div class="card card-body" data-reviewnum="${review.reviewnum}"data-mid="${review.mid}">
                        <h5 class="card-title">${review.text}<span>${review.grade}</span></h5>
                        <h5 class="card-subtitle mb-2 text-muted">${review.nickname}</h5>
                        <p class="card-text">${formatTime(review.regDate)}</p>
                        </div>`
                        */
                    }

                    getMovieReviews();
                    var reviewModal = new bootstrap.Modal(document.getElementById('reviewModal'));
                    // 이미지 모달
                    var imageModal = new bootstrap.Modal(document.getElementById('imageModal'));

                    $('.reviewList').on("click", ".card-body", function () {
                        $("input[name='mid']").attr('readonly', true);

                        var reviewnum = $(this).data("reviewnum");
                        $("input[name='reviewnum']").val(reviewnum);
                        $("input[name='mid']").val($(this).data('mid'));
                        $("input[name='text']").val($(this).find('.card-title')
                        .clone().children().remove().end().text());
                        
                        console.log("세상사람들여기>>");
                        console.log($(this).data());

                        var grade = $(this).data("grade");
                        //console.log("변경 전 "+grade);
                        $('.starrr').starrr({
                            rating: grade,
                            // 모달을 열 때 grade를 자신의 grade length나 기존 값 만큼 class를 추가해주는 방식으로 진행?
                            // change가 watch 역할을 한다
                            change: function (e, value) {
                                //console.log("변경 후 : "+e.target.getElementsByClassName("fa-star").length);
                                var grade = document.getElementsByClassName("fa-star").length;
                                if (value) {
                                    grade = value;
                                }
                            }
                        });

                        // click이라는 trigger로 실행
                        // console.log($(`.strrr a:nth-child(${grade})`));

                        // reviewModal id를 가진 태그와 .btn 클래스를 가진 태그들을 숨김
                        $("#reviewModal .btn").hide();
                        // 버튼들을 보여줌
                        $(".reviewRemove, .reviewModify, .reviewClose").show();
                        // reviewModal을 보여줌
                        reviewModal.show();
                    });

                    // URL 변수에 저장
                    /*[+
                      var urlReview = [[@{/reviews/}]]
                    +]*/

                    // 추가                    
                    $(".addReview").click(function () {
                        $("input[name='mid']").attr('readonly', false);

                        // reviewModal 보여줌
                        reviewModal.show();

                        // 값 가져옴
                        $('input[name="mid"]').val('');
                        $('input[name="text"]').val('');
                        $('.modal-title').html("리뷰 입력");
                        $("#reviewModal .btn").hide();

                        var grade = 0;
                        /*[+
                        var mno = [[${dto.mno}]]
                        +]*/
                        $('.starrr').starrr({
                            rating: grade,
                            change: function (e, value) {
                                if (value) {
                                    grade = value;
                                }
                            }
                        });
                        $(".reviewSave, .reviewClose").show();
                    });

                    //삭제
                    $(".reviewRemove").on("click", function () {
                        var reviewnum = $("input[name='reviewnum']").val();
                        var mno = $("input[name='mno']").val();
                        var data = { reviewnum: reviewnum };
                        console.log("reviewRemove...data: " + data);

                        console.log("reviewnum>>>" + reviewnum);
                        $.ajax({
                            url: urlReview + mno + "/" + reviewnum,
                            method: 'delete',
                            contentType: "application/json; charset=utf-8",
                            dataType: "text",
                            success: function (result) {
                                self.location.reload();
                                console.log("result: " + result);
                                getMovieReviews();
                            }
                        });
                        reviewModal.hide();
                    });

                    // 수정
                    $(".reviewModify").on("click", function () {
                        var reviewnum = $("input[name='reviewnum']").val();
                        var mno = $("input[name='mno']").val();
                        var mid = $('input[name="mid"]').val();

                        var review = {
                            reviewnum: reviewnum,
                            mno: mno,
                            mid: mid,
                            text: $('input[name="text"]').val(),
                            grade: document.getElementsByClassName("fa-star").length,
                        }
                        console.log("Modify review : " + review);
                        $.ajax({
                            url: urlReview + mno + "/" + reviewnum,
                            method: 'PUT',
                            data: JSON.stringify(review),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                self.location.reload();
                                console.log("result: " + result);
                                getMovieReviews();
                            }
                        });
                        reviewModal.hide();
                    });

                    // 저장
                    $(".reviewSave").click(function () {
                        var grade = document.getElementsByClassName("fa-star").length;
                        var mid = $('input[name="mid"]');
                        var text = $('input[name="text"]');

                        if (mid.val() == "") {
                            alert("아이디를 확인해주세요");
                            mid.focus();
                            return;
                        }
                        if (text.val() == "") {
                            alert("글을 확인해주세요");
                            text.focus();
                            return;
                        }

                        if (grade == 0) {
                            alert("별점을 등록해주세요");
                            return;
                        }
                        var review = {
                            mno: mno,
                            grade: grade,
                            mid: mid.val(),
                            text: text.val()
                        };
                        console.log(review);
                        $.ajax({
                            url: urlReview + mno,
                            method: 'POST',
                            data: JSON.stringify(review),
                            contentType: 'application/json;charset=utf-8',
                            dataType: 'json',
                            success: function (data) {
                                console.log(data.mid);
                                var newRno = parseInt(data);
                                alert(`reviewer ${review.mid}님의 리뷰가 등록되었습니다.`);
                                getMovieReviews();
                            }
                        });
                        reviewModal.hide();
                    });
                });
            </script>


            <!-- review modal : addReview -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                crossorigin="anonymous"></script>
            <script th:src="@{/js/starrr.js}"></script>
            <link th:href="@{/css/starrr.css}" rel="stylesheet">
            <link rel="stylesheet"
                href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
            <div id="reviewModal" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Movie Review</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" style="margin-bottom: 10px;">
                                <label>평가자 고유번호</label>
                                <input type="text" class="form-control" name="mid" />
                                <input type="hidden" name="reviewnum">
                            </div>
                            <div class="form-group" style="margin-bottom: 10px;">
                                <label>평가 별<span class="grade"></span></label>
                                <div class="starrr"></div>
                            </div>
                            <div class="form-group">
                                <label>평 가 글</label>
                                <input type="text" class="form-control" name="text" placeholder="Good Movie!" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary reviewClose"
                                data-bs-dismiss="modal">닫기</button>
                            <button type="button" class="btn btn-primary reviewSave">저장</button>
                            <button type="button" class="btn btn-warning reviewModify">수정</button>
                            <button type="button" class="btn btn-danger reviewRemove">삭제</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="imageModal" class="modal" tabindex="-2">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- Picture -->
                            <h5 class="modal-title">사진</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary pictureClose"
                                data-bs-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </th:block>
</th:block>