<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mybatis.mapper.MemberMapper">
   
    <select id="getList" resultType="org.zerock.mybatis.vo.MemberVO">
        <![CDATA[ 
            SELECT * FROM m_member where mid >= 0;
        ]]>
    </select>
    <insert id="insert">

        insert into m_member(email, nickname, pw, regdate)
        values(#{id},#{nickname}, #{pw}, now())

    </insert>
    <update id="update">

        update m_member set email=#{email},
        nickname=#{nickname},
        pw=#{pw},
        where
        mid=#{mid}

    </update>
    <delete id="delete">

        delete from m_member where mid=#{mid}

    </delete>

</mapper>